[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s).
disable=duplicate-code,
        invalid-name,
        line-too-long,
        logging-fstring-interpolation,
        missing-class-docstring,
         missing-function-docstring,
        missing-module-docstring,
        redefined-outer-name,
        too-few-public-methods,
        too-many-arguments,
        too-many-locals,
        too-many-positional-arguments,
        too-many-statements,
        trailing-whitespace,
        unnecessary-pass,

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120